@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-body: var(--font-poppins);
  --nav-height: 4.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  letter-spacing: -0.05em;
}

.slick-dots li.slick-active div {
  @apply bg-white !w-16 !h-1 rounded;
  @media (max-width: 767px) {
    @apply bg-white !w-10 !h-1 rounded;
  }
}
.slick-dots li {
  @apply !w-16;
  @media (max-width: 767px) {
    @apply !w-10;
  }
}
.slick-dots {
  bottom: 2.5rem !important;
  left: 5rem !important;
  z-index: 20 !important;
  @media (max-width: 767px) {
    left: 1.5rem !important;
  }
}
.portfolio-gradient {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.685609) 53.58%,
    #000 100%
  );
}
@media (max-width: 767px) {
  .portfolio-gradient {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.64) 57.69%,
      #000000 100%
    ) !important;
  }
}
.grecaptcha-badge {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}